@media screen and (max-width:1750px){
	.wrapper {
    width: 1132px;
  }

  .header__inner {
    width: 83%;
  }

  .contacts {
    width: 260px;
  }

  .menu ul li {
    margin: 0 19px;
  }

  .contacts__data {
    width: 71%;
  }

  .main__info {
    height: 318px;
  }

  .main__sort {
    width: 100%;
    height: 130px;
    padding: 36px 50px 35px 50px;
  }

  .select ul {
    margin-top: 7px;
  }

  .select__item {
    width: 283px;
  }

  .btn {
    line-height: 60px;
  }

  .category__main .category__item {
    height: 350px;
    padding: 37px 37px 37px 41px;
  }

    .category__main  .category__item img {
    width: 65%;
  }

  .category__item h3 a {
    font-size: 26px;
  }

  .main {
    height: 619px;
    margin-bottom: 70px;
  }

  .category__main .category__item h3 {
    line-height: 1.1;
  }

  .category_more {
    width: 52px;
    height: 52px;
    bottom: 38px;
    left: 40px;
  }

  .category__item {
    width: 376px;
    height: 272px;
    padding: 33px 30px;
}

.category__item h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

.about__title  {
  font-size: 24px;
}

.about__item {
min-height: auto;
    padding: 54px 43px 67px 39px;
}

.about__item__pic {
    width: 369px;
}

.about__descr {
  line-height: 26px;
}

.about__item__info h6 {
  margin-bottom: 22px;
}

.about__item__info {
  width: 32%;
}

.about__item__info:last-child {
  width: 30%;
}

.category {
    margin-bottom: 72px;
}

.page__footer {
    padding-top: 40px;
    padding-bottom: 28px;
}

.footer__logo {
    margin-bottom: 35px;
}

.footer__info {
    width: 243px;
}

.footer__main {
    width: 74.5%;
}

.about {
    margin-bottom: 71px;
}

.footer__item {
    width: 205px;
}

.footer__item:nth-child(2n) {
    width: 302px;
}

.footer__text {
  line-height: 17px;
}

.footer__text_flex {
  padding-right: 57px;
}


}

@media screen and (max-width:1200px) {
.wrapper {
  width: 664px;
}

.contacts {
  display: none;
}

.menu ul li:last-child {
  display: none;
}

.menu ul li:nth-child(4n) {
  display: none;
}

.menu ul li:nth-child(3n) {
  display: none;
}

.header__inner {
    width: 47%;
}

.hamburger {
  display: inline-block;
  margin-left: 5px;
}

.mobile__hamburger {
   display: block;
   width: 82px;
   font-size: 14px;
   padding-top: 24px;
   text-align: right;
}

.logo {
    width: 138px;
    height: 37px;
    margin: 17px 0;
}

.menu ul li a {
  padding: 24px 0;
}

.menu {
  width: 100%;
}

.header__inner {
    width: 40%;
}

.menu ul li {
    margin: 0 22px;
}

.main {
  padding-top: 69px;
}

.main__info {
  width: 500px;
}

.main__info h1 {
    font-size: 36px;
    margin-bottom: 13px;
}

.main__info h6 {
  font-size: 14px;
}

.main__info {
    height: 211px;
}

.main__sort {
    width: 100%;
    height: 178px;
    padding: 22px 20px 35px 57px;
}

.select {
  flex-wrap: wrap;
  position: relative;
}

.select .btn {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.menu ul li a {
    padding: 23px 0;
}

.logo {
    margin: 16px 0;
}

.menu ul li {
    margin: 0 22px;
}

.menu ul li a {
  font-size: 14px;
}

.mobile__hamburger {
  padding-top: 23px;
}

.select__item {
    width: 291px;
    margin-bottom: 14px;
    position: relative;
    z-index: 1;
}

.btn {
    line-height: 50px;
    min-width: 142px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    z-index: 1;
}

.select .btn {
    position: absolute;
    bottom: -5px;
    right: 151px;
    z-index:0;
}

.select__name::after {
  margin-top: -3px;
}

.main {
  height: 518px;
  margin-bottom: 51px;
}

.mobile .contacts {
  display: block;
  width: 100%;
  text-align: left;
}

.sidebar-mobile__top span {
  display: inline-block;
  text-transform: uppercase;
  color: #E30B13;
  font-size: 12px;
  font-weight: 600;
  padding-left: 55px;
}

.contacts__mail {
color: #20202F;
font-size: 20px;
}

.contacts__icon {
    position: absolute;
    top: -3px;
    right: 25px;
}

.contacts__phone {
  font-size: 20px;
}

.select__item__drop {
    width: 312px;
    max-height: 400px;
    padding: 12px 0 14px 13px;
    left: -1px;
}

.category__main .category__item {
  height: 250px;
padding: 14px 12px 12px 20px;
}

.category__main .category__item h3 a {
  font-size: 19px;
}

.category__main .category__item h3 {
  width: 70%;
  line-height: 24px;
}

.category_more {
    width: 38px;
    height: 38px;
    bottom: 21px;
    left: 20px;
}

.category__item {
  width: 50%;
  height: 252px;
  padding: 22px 19px;
}

.category__item:nth-child(even) {
  border-right: none;
}

.category__item:nth-child(odd) {
    border-right: 1px solid #C4C4C4;
}

.category__main .category__item img {
    width: 75%;
    right: -6px;
    bottom: -16px;
}

.category__items .category__item:last-child {
    width: 100%;
    height: 201px;
}

.category__items .category__item:last-child .category_more {
    top: 71%;
    left: 91%;
}

.category__items .category__item .category_more {
    top: 80%;
    left: 85%;
}

.category__item .mask {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.category__descr {
    bottom: 16px;
    left: 21px;
}

.category {
    margin-bottom: 52px;
}

.about__title {
    font-size: 19px;
    margin-bottom: 21px;
}

.about__item {
  flex-direction: column;
  align-items: flex-start;
  padding: 21px 20px 20px 20px;
}

.about__item__info {
  width: 100%;
}

.about__item__info:last-child {
    width: 100%;
}

.about__item__info h6 {
    margin-bottom: 8px;
}

.about__descr {
    line-height: 24px;
    font-size: 14px;
    width: 100%;
}

.about__item__pic  {
  height: 240px;
}

.about {
    margin-bottom: 52px;
}

.page__footer {
  padding-top: 19px;
}

.footer__logo {
    margin-bottom: 14px;
    width: 139px;
    height: 38px;
}

.page__footer .contacts__phone {
  font-size: 13px;
}

.footer__contacts {
    margin-bottom: 9px;
}

.footer__main {
    width: 57.5%;
}

.footer__item:last-child {
  display: none;
}

.footer__item {
    width: 134px;
}

.footer__title {
  margin-bottom: 7px;
}

.footer__menu li {
  font-size: 12px;
}

.footer__menu li {
  margin-bottom: 2px;
}

.footer__info .footer__text {
  display: block;
}

.footer__info .footer__text_flex {
  display: none;
}

.footer__item .footer__text {
  display: none;
}

span.contacts__adress {
  margin-bottom: 28px;
}

.footer__item:nth-child(2n) .footer__text_flex {
  display: flex;
  padding-right: 30px;
}

.footer__menu_mob {
  display: block;
}

}


@media screen and (max-width:700px) {
.wrapper {
  width: 260px;
}

.menu {
  display: none;
}

.header__inner {
  display: none;
}

.logo {
  width: 121px;
  height: 30px;
}

.main__info {
  width: 100%;
  height: auto;
}

.main__info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.main__info h6 {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 19px;
}

.main__sort {
  padding: 0;
  background: transparent;
  height: auto;
  display: block;
}

.select ul {
  display: none;
}

.main__sort .btn {
  position: static;
}

.btn {
  min-width: 141px;
  line-height: 50px;
}

.hamburger {
  margin-top: -1px;
}

.main {
    height: 390px;
    margin-bottom: 40px;
}

.main__info {
  max-height: 174px;
  overflow: hidden;
  margin-bottom: 20px;
}

.category__main {
  flex-direction: column;
}

.category__main .category__item{
  width: 100%;
}

.category__main .category__item h3 a {
  font-size: 16px;
}

.category__item {
  width: 100%;
}

.category__main .category__item h3 {
    line-height: 19px;
}

.category__main .category__item {
  height: 222px;
}

.category__item {
  height: 222px;
}

.category__main .category__item img {
  bottom: 0;
}

.category__descr {
  font-size: 13px;
  line-height: 20px;
  width: 77%;
}

.category__items .category__item:last-child {
  height: 221px;
}

.category__items .category__item:last-child .category_more {
    top: 73%;
    left: 78%;
}

.category {
    margin-bottom: 40px;
}

.about__title {
    font-size: 17px;
    margin-bottom: 21px;
}

.about__item__pic {
  width: 220px;
  height: 124px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.about__item {
    padding: 21px 28px 20px 29px;
}

.about__item__info h6 {
    margin-bottom: 5px;
    width: 90%;
}

.about__descr {
    line-height: 20px;
    font-size: 13px;
    width: 100%;
    display: block;
}

.category__item:nth-child(odd) {
  border-right: none;
}

.footer__main {
  display: none;
}

.footer__info .footer__text.footer__text_flex {
  display: flex;
  margin-top: 15px;
  padding-right: 0;
}

.footer__mob {
  display: block;
  border-bottom: 2px solid #DADFE9;
  margin-bottom: 15px;
  padding-bottom: 7px;
}

.page__footer {
  border:none;
}

.about {
  margin-bottom: 0;
}

.accord-content { 
  display: none;
  padding-bottom: 10px;
}

.page__footer {
    padding-top: 50px;
}

.footer__logo {
    margin-bottom: 11px;
    width: 113px;
    height: 32px;
}

.footer__info {
    width: 100%;
}

span.contacts__adress {
    margin-bottom: 20px;
}

.select .btn {
  display: none;
}

.btn_mob {
  display: inline-block;
}

}

@media screen and (max-width:400px)  {
.about .wrapper {
  width: 100%;
}

.about__title {
  padding-left: 9%;
}

.about {
  width: 100%;
  margin: 0 auto;
}

}