* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

table,
tr,
th,
td {
	border-collapse: collapse;
}

html{
	background: #F1F3F8;
	height: 100%;
}

body {
	font-size: 16px;
	font-family:'Montserrat', Liberation Sans, sans-serif;
	line-height: 144%;
	background: #F1F3F8;
	color: #20202F;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.clear {
	clear: both;
	content: "";
	display: table;
}

.page {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page__header {
	background: #fff;
}

.page__main {
	flex-grow: 1;
	flex: 1 0 auto; 
}

.wrapper {
	width: 1612px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	width: 157px;
	height: 40px;
	overflow: hidden;
	margin: 20px 0;
}

.header__inner {
	width: 68%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu {
	width: 70%;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu ul li {
	display: inline-block;
	margin: 0 28px;
}

.menu ul li a {
	font-size: 16px;
	color: #20202F;
	text-decoration: none;
	padding: 29px 0;
	display: inline-block;
	position: relative;
}

.menu ul li a::after {
	content: "";
	width: 0;
	height: 2px;
	background: #E30B13;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.menu ul li.act a::after {
	width: 100%;
}

.menu ul li:hover a::after {
	width: 100%;
}

.contacts {
	width: 358px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
}

.contacts__icon {
	width: 51px;
	height: 51px;
	border-radius: 50%;
	background: #E30B13 url('../img/phone.svg') center no-repeat;
}

.contacts__icon:hover {
	background: #B02333 url('../img/phone.svg') center no-repeat;
	-webkit-box-shadow:  0px 0px 20px 0px  rgba(176, 35, 51, 0.4);
	-moz-box-shadow:     0px 0px 20px 0px  rgba(176, 35, 51, 0.4);
	box-shadow:         0px 0px 20px 0px  rgba(176, 35, 51, 0.4);
}

.contacts__data {
	width: 79%;
	text-align: right;
	margin-top: 8px;
}

.contacts__phone {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	color: #20202F;
	text-decoration: none;
	margin-bottom: 4px;
}

.contacts__mail {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	color: #E30B13;
	text-decoration: none;
}

.main {
	height: 769px;
	background: url('../img/main-pic.jpg') 0 0 no-repeat;
	background-attachment: fixed;
	padding-top: 100px;
	margin-bottom: 81px;
	position: relative;
	z-index: 1;
}

.main__info {
	width: 561px;
	height: 438px;
}

.main__info h1 {
	font-weight: 600;
	font-size: 40px;
	color: #fff;
	margin-bottom: 22px;
	letter-spacing: -0.04em;
}

.main__info h6 {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	line-height: 1.7;
}

.main__sort {
	background: #fff;
	width: 1073px;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 41px 21px 40px 50px;
}

.select {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.select__label{
	width: 100%;
	display: block;
	font-size: 13px;
	color: #8D949B;
	margin-bottom: 0;
	text-decoration: none;
}

.select__name {
	display: block;
	font-weight: 600;
	font-size: 16px;
	color: #20202F;
	text-decoration: none;
	cursor: pointer;
	padding-bottom: 11px;
	padding-right: 15px;
}

.select__name::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 5px;
	background: url('../img/down.svg') center no-repeat;
	margin-left: 10px;
}

.select__name:hover {
	color: #951B29;
}

.select__name:hover::after {
	background: url('../img/down-hover.svg') -1px 0px no-repeat;
}

.select ul {
	display: block;
	width: 100%;
	margin: 12px 0 0 0;
	padding: 0px;
	list-style: none;
	padding-left: 0px;
}

.select__item {
	width: 264px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-bottom: 0;
}

.select__item:first-child {
	z-index: 2;
}

.select__item__drop {
	display: none;
	position: absolute;
	z-index: 1;
	background: #FFFFFF;
	width: 384px;
	max-height: 400px;
	display: none;
	padding: 28px 0 15px 28px;
	-webkit-box-shadow:  0px 25px 150px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 25px 150px rgba(0, 0, 0, 0.1);
	box-shadow:        0px 25px 150px rgba(0, 0, 0, 0.1);
}

.select__item.act .select__item__drop {
	display: block;
}

.select__item.act .select__name::after {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	background: url('../img/down-hover.svg') -1px 0px no-repeat;
}

.select__item.act  .select__name {
	color: #951B29;
}

.select__item_chose .select__name {
	color: #E30B13;
}

.select__item_chose  .select__name::after {
	background: url('../img/chose.svg') -1px 0px no-repeat;
}

.select__point {
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.checkbox {
	width: 96%;
}

.checkbox label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
	margin-right: 15px;
	font-size: 13px;
}

.checkbox input[type=checkbox] {
	display: none;
}

.checkbox label:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	top: 2px;
	border: 1px solid #B6C1CC;
}

.checkbox:hover label:before {
	border: 1px solid #E30B13;
	box-sizing: border-box;
}

.checkbox input[type=checkbox]:checked + label:before {
	background: #E30B13 url('../img/check.svg') center no-repeat;
	border: 1px solid transparent;
}

.select__col {
	color: #B6C1CC;
	font-size: 14px;
	font-weight: 400;
	padding-right: 20px;
}

.radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
	margin-right: 15px;
	font-size: 13px;
}

.radio input[type=radio] {
	display: none;
}

.radio label:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 2px;
	border: 1px solid #B6C1CC;
}

.radio:hover label:before {
	border: 1px solid #E30B13;
	box-sizing: border-box;
}

.radio input[type=radio]:checked + label:after {
	content: "";
	display: block;
	background: #E30B13;
	width: 8px;
	height: 8px;
	margin: auto;
	position: absolute;
	top: 7px;
	left: 5px;
	border-radius: 50%;
}

.btn {
	line-height: 70px;
	min-width: 174px;
	background: #E30B13;
	border-radius: 35px;
	color: #fff;
	border:none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}


.btn:hover {
	color: #fff;
	background: #B02333;
	box-shadow: 0px 15px 20px rgba(176, 35, 51, 0.2);
}

.btn_mob {
	display: none;
}

/*/////////////////////////////////////////
мобильное меню
/////////////////////////////////////*/

.mobile__container {
	position: fixed;
	top: 0;
	right: -348px;
	z-index: 110;
	width: 348px;
	height: 100%;
	transition: transform 200ms ease-in-out 0ms;
	box-sizing: border-box;
	color: #ffffff;
	background-color: #fff;
	overflow: hidden;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	display: flex;
	flex-direction: column;
}

.mobile__container.is-opened {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.mobile__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 100;
	background-color: #20202F;
	opacity: 0.5;
}

.mobile__hamburger {
	display: none;
	cursor: pointer;
}

.hamburger {
	display: none;
	cursor: pointer;
	width: 19px;
	height: 24px;
	font-size: 0;
	background: url('../img/burger.svg') center no-repeat;
}

.sidebar-mobile__top {
	padding: 17px 0 20px 2px;
}

.sidebar-mobile__content {
	flex-grow: 1;
	flex: 1 0 auto;
}

.sidebar-mobile__footer {
	flex-shrink: 0;
	padding-left: 52px;
	padding-bottom: 35px;
}

.sidebar-mobile__top:after {
	content: '';
	display: table;
	clear: both;
}

.sidebar-mobile__left {
	padding: 4px 15px;
	display: inline-block;
	float: left;
	width: 155px;
	margin-bottom: 7px;
}

.sidebar-mobile__left img {
	margin-top: 5px;
	width: 68px;
}

.sidebar-mobile__close {
	height: 20px;
	width: 24px;
	height: 24px;
	float: right;
	margin: 0 23px 0 0;
	text-align: center;
	cursor: pointer;
	position: relative;
	font-size: 0;
	background: url('../img/close.svg') center no-repeat;
}

.menu-mobile {
	font-size: 18px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.menu-mobile ul {
	padding-left: 0;
}

.menu-mobile li {
	display: block;
	padding-left: 0;
	border-right: none;
	border-left: none;
	font-size: 25px;
	position: relative;
	margin-bottom: 0;
}

.menu-mobile li:last-child {
	border-bottom: none;
}

.menu-mobile a, .menu-mobile a:hover, .menu-mobile a:active, .menu-mobile a:visited {
	display: block;
	padding: 23px 11px 23px 56px;
	text-decoration: none;
	color: #1B1B1B;
	transition: none;
	font-weight: 400;
}

.menu-mobile__item {
	position: relative;
}

.menu-mobile__item:after {
	content: '';
	display: table;
	clear: both;
}

.menu-mobile__left {
	position: absolute;
	top: 0;
	right: 0;
	width: 14%;
	height: 100%;
}

.menu-mobile__right {
	display: inline-block;
	width: 90%;
	float: left;
}

.menu-mobile li > ul {
	overflow: hidden;
	display: none;
	padding-left: 0;
	font-size: 0.9em;
	margin-top: 0;
	margin-left: 0;
}

.sidebar-mobile__menu {
	margin-bottom: 20px;
	margin-top: 38px;
}

.sidebar-mobile__blocks{
	padding-left: 12px;
}


.sidebar-mobile__top img {
	width: 57px;
	margin: 10px 0 0 20px;
}

.sidebar-mobile__item {
	margin-bottom: 20px;
	position: relative;
}

.sidebar-mobile__item span {
	display: block;
	font-size: 12px;
	color: #E30B13;
	margin-bottom: 4px;
	font-weight: 600;
	text-transform: uppercase;
}

.category {
	background: #fff;
	margin-bottom: 102px;
}

.category__main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.category__item {
	width: 536px;
	height: 319px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	position: relative;
	overflow: hidden;
	padding: 43px 51px;
}

.category__item:nth-last-child(-n+3) {
	border-bottom: none;
}

.category__item:nth-child(3n) {
	border-right: none;
}

.category__main .category__item  {
	width: 50%;
	height: 430px;
	padding: 50px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__item:hover {
	-webkit-box-shadow:  0px 0px 150px rgba(49, 56, 74, 0.2);
	-moz-box-shadow:    0px 0px 150px rgba(49, 56, 74, 0.2);
	box-shadow:        0px 0px 150px rgba(49, 56, 74, 0.2);
}

.category__item img {
	position: absolute;
	bottom: 0;
	right: 0;
	object-fit: cover;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.category__item:hover img {
	-moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-o-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}

.category__item h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
	position: relative;
}

.category__item h3 a {
	color: #20202F;
	text-decoration: none;
}

.category__main .category__item:first-child h3 {
	color: #fff;
}

.category__main .category__item:first-child {
	background: #E30B13;
	border-bottom: none;
}

.category__main .category__item:first-child h3 a {
	color: #fff;
	text-decoration: none;
}

.category__main .category__item h3{
	color: #20202F;
	width: 273px;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 0;
}

.category_more {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	bottom: 50px;
	left: 51px;
	background: #E30B13 url('../img/right_light.svg') center no-repeat;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.category_more:hover {
	background: #B02333 url('../img/right_light.svg') center no-repeat;
	-webkit-box-shadow: 0px 0px 20px 0px rgb(176 35 51 / 40%);
	-moz-box-shadow: 0px 0px 20px 0px rgba(176, 35, 51, 0.4);
	box-shadow: 0px 0px 20px 0px rgb(176 35 51 / 40%);
}

.category__main .category__item:first-child .category_more {
	background: #fff url('../img/right.svg') center no-repeat;
}

.category__main .category__item:first-child .category_more:hover {
	background: #B02333 url('../img/right_light.svg') center no-repeat;
	-webkit-box-shadow: 0px 0px 20px 0px rgb(176 35 51 / 40%);
	-moz-box-shadow: 0px 0px 20px 0px rgba(176, 35, 51, 0.4);
	box-shadow: 0px 0px 20px 0px rgb(176 35 51 / 40%);
}

.category__items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.category__item h6 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 2px;
}

.category__item h6 a {
	color: #20202F;
	text-decoration: none;
}

.category__col {
	display: block;
	color: #E30B13;
	font-size: 12px;
	display: block;
	text-transform: uppercase;
}

.category__items .category__item .category_more {
	top: 31px;
	left: 83%;
	opacity: 0;
}

.category__items .category__item:hover .category_more {
	opacity: 1;
}

.category__items .category__item:last-child {
	background: #E30B13;
}

.category__items .category__item:last-child h6 a {
	color: #fff;
}

.category__items .category__item:last-child .category_more {
	top: 69%;
	background: #fff url(../img/right.svg) center no-repeat;
	opacity: 1;
	left: 82%;
}

.category__descr {
	color: #fff;
	font-size: 14px;
	position: absolute;
	bottom: 37px;
	left: 53px;
	width: 70%;
}

.category__item .mask {
	display: none;
}

.about {
	margin-bottom: 100px;
}

.about__title {
	font-size: 28px;
	font-weight: 600;
	color: #20202F;
	margin-bottom: 20px;
}

.about__item {
	min-height: 400px;
	background: #fff;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 100px 0 100px;
	align-items: center;
}

.about__item__info {
	width: 30%;
}

.about__item__info h6 {
	color: #E30B13;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 23px;
	text-transform: uppercase;
}

.about__descr {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.8;
}

.about__item__pic {
	width: 524px;
	height: 296px;
	overflow: hidden;
	position: relative;
}

.page__footer{
	flex-shrink: 0;
	border-top: 2px solid #DADFE9;
	padding-top: 60px;
	padding-bottom: 50px;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__info{
	width: 388px;
}

.footer__logo {
	width: 158px;
	height: 40px;
	overflow: hidden;
	margin-bottom: 45px;
}

.footer__contacts span {
	display: block;
	color: #E30B13;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.footer__contacts {
	margin-bottom: 14px;
}

span.contacts__adress {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	color: #20202F;
	text-decoration: none;
	margin-bottom: 4px;
	font-weight: 500;
	text-transform: none;
}

.footer__main {
	width: 66%;
	align-items: stretch;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__item {
	width: 241px;
	display: flex;
	flex-direction: column;
}

.contacts__phone_mail {
	text-transform: uppercase;
}

.footer__contacts:last-child {
	margin-bottom: 0;
}

.footer__title {
	display: block;
	color: #E30B13;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 11px;
}

.footer__item:nth-child(2n) {
	width: 378px;
}

.footer__item:last-child {
	width: 388px;
	padding-top: 27px;
}

.footer__menu {
	padding: 0;
	margin: 0;
}

.footer__menu li {
	color: #20202F;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 10px;
}

.footer__menu li a {
	color: #20202F;
	text-decoration: none;
}

.footer__menu li:hover a {
	color: #E30B13;
}

.footer__text {
	color: #8D949B;
	font-size: 12px;
	font-weight: 400;
	display: block;
}

.footer__text a {
	color: #8D949B;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
}

.footer__text a:hover {
	color: #E30B13;
}

.footer__item__inner {
	flex-grow: 1;
	flex: 1 0 auto;
}

.footer__text_flex {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 138px;
}


.footer__text_flex span:hover a {
	font-weight: 600;
}


.footer__info .footer__text {
	display: none;
}

.footer__item:nth-child(2n) .footer__text_flex {
	display: none;
}

.footer__menu_mob {
	display: none;
}

.footer__mob {
	display: none;
}

.accord-header {
	color: #E30B13;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 7px;
	position: relative;
}

.accord-header::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 5px;
	background: url(../img/chose.svg) -1px 0px no-repeat;
	margin-left: 10px;
	position: absolute;
	top: 7px;
	right: 0;
}

.modal-container {
	width: 260px;
	padding: 30px;
}

.fancybox-close-small {
	background: url('../img/close.svg') center no-repeat;
}

.fancybox-close-small:after {
	display: none;
}

.modal h3 {
	color: #20202F;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
}

.modal .select {
	display: block;
	flex-direction: column;
}

.modal .select ul {
    display: block;
}

.modal .select .btn {
    display: block;
    width: 100%;
    position: static;
}

.modal .select__item {
	width: 100%;
}